<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>New Note</title>
</head>

<body>
  <div class="container add-container">
    <div class="row justify-content-center">
      <div class="col-md-6 align-items-center">
        <form action="/add" method="post">

          <label for="book-name" class="mb-2">Book name</label>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" id="book-name" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <label for="notes" class="mb-2">Your notes</label>
          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>