.borderbtm{
    border-bottom: 1px solid rgb(111, 111, 111) !important ;
    
    
}
html, body, main, header, footer{
    background-color: #F9FAFB;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
li{
    font-weight: bold;
}

.nav-link{
    border-radius: 30%;
}
*{
    font-size: 25px;
    font-family:  "Playfair Display", serif;
}

.add-container{
    margin-top: 50px;
    height: 150vh;
}
.large{
    height: 400px;
}
label{
    font-weight: bold;
}
.add-submit{
    display: flex;
    gap: 0px;
    justify-content: center;
}

.custom-nav{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 60px;

}

.nav-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
}

.nav-right{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.card-title{
    color: black;
    font-weight: bold;
}

body{
    height: 100vh;
}

.card{
    background-color: #FFFFFF;
}
.btn{
    background-color: #c24444;
    color: white;
    border: none;
}
.btn:hover{
    background-color: #822121;
}
.form-control:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(241, 70, 70, 0.595) !important;
}

.dropdown-item:active{
    background-color: #c24444;

}
.border-top{
    border-top: 1px solid rgb(111, 111, 111) !important ;
}

.min-width{
    min-width: 1000px;
}
